<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfut.mapper.AbsenseMapper">
	<resultMap id="BaseResultMap" type="com.hfut.bean.Absense">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="date" jdbcType="TIMESTAMP" property="date" />
		<result column="type" jdbcType="CHAR" property="type" />
		<result column="remarks" jdbcType="VARCHAR" property="remarks" />
		<association property="employee" javaType="com.hfut.bean.Employee"
			column="employee_id"
			select="com.hfut.mapper.EmployeeMapper.selectByPrimaryKey" />
	</resultMap>
	<delete id="delete" parameterType="com.hfut.bean.Absense">
		delete from
		absense
		where id = #{id}
	</delete>
	<insert id="insert" parameterType="com.hfut.bean.Absense">
		insert into absense (date,
		employee_id,
		type, remarks)
		values (#{date},
		#{employee.id},
		#{type}, #{remarks})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.hfut.bean.Absense">
		update absense
		<set>
		<if test="date!=null">date=#{date},</if>
		<if test="employee!=null">
		<if test="employee.id!=null">employee_id=#{employee.id},</if>
		</if>
		<if test="type!=null">type=#{type},</if>
		<if test="remarks!=null">remarks = #{remarks}</if>
		</set>
		where id = #{id}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select id, date,type, remarks, employee_id
		from absense
		where id = #{id}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select id, date, type,
		remarks,employee_id
		from absense
	</select>
</mapper>