<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfut.mapper.CheckOffMapper">
	<resultMap id="BaseResultMap" type="com.hfut.bean.CheckOff">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="tax" jdbcType="DOUBLE" property="tax" />
		<result column="insurance" jdbcType="DOUBLE" property="insurance" />
		<result column="housing_fund" jdbcType="DOUBLE" property="housingFund" />
		<association column="basic_salary_id" property="basicSalary"
			javaType="com.hfut.bean.BasicSalary" select="com.hfut.mapper.BasicSalaryMapper.selectByPrimaryKey" />
	</resultMap>
	<delete id="delete" parameterType="com.hfut.bean.CheckOff">
		delete from check_off
		where id = #{id}
	</delete>
	<insert id="insert" parameterType="com.hfut.bean.CheckOff">
		insert into check_off (id, tax, insurance,
		housing_fund, basic_salary_id)
		values (#{id}, #{tax},
		#{insurance},
		#{housingFund}, #{basicSalary.id})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.hfut.bean.CheckOff">
		update check_off
		<set>
		<if test="tax!=null">tax = #{tax},</if>
		<if test="insurance!=null">insurance = #{insurance},</if>
		<if test="housingFund!=null">housing_fund = #{housingFund},</if>
		<if test="basicSalary!=null">
		<if test="basicSalary.id">basic_salary_id = #{basicSalary.id}</if>
		</if>
		</set>
		where id = #{id}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select id, tax, insurance, housing_fund, basic_salary_id
		from check_off
		where id = #{id}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select id, tax, insurance, housing_fund, basic_salary_id
		from check_off
	</select>
</mapper>