<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfut.mapper.EmployeeMapper">
	<resultMap id="BaseResultMap" type="com.hfut.bean.Employee">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="sex" jdbcType="CHAR" property="sex" />
		<result column="birth" jdbcType="TIMESTAMP" property="birth" />
		<result column="edu" jdbcType="CHAR" property="edu" />
		<result column="tel" jdbcType="VARCHAR" property="tel" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="monthly_salary" jdbcType="DOUBLE" property="monthlySalary" />
		<association property="department" column="department_id"
			select="com.hfut.mapper.DepartmentMapper.selectByPrimaryKey"
			javaType="com.hfut.bean.Department" />
	</resultMap>
	<delete id="delete" parameterType="com.hfut.bean.Employee">
		delete from
		employee
		where id = #{id}
	</delete>
	<insert id="insert" parameterType="com.hfut.bean.Employee">
		insert into employee (
		username, password,
		name, sex, birth, edu,
		tel, status, monthly_salary,
		department_id)
		values (#{username},
		#{password},
		#{name}, #{sex},
		#{birth},
		#{edu},
		#{tel}, #{status}, #{monthlySalary},
		#{department.id})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.hfut.bean.Employee">
		update employee
		<set>
			<if test="username!=null">username = #{username},</if>
			<if test="password!=null">password =#{password},</if>
			<if test="name!=null">name = #{name},</if>
			<if test="sex!=null">sex =#{sex},</if>
			<if test="birth!=null">birth = #{birth},</if>
			<if test="edu!=null">edu =#{edu},</if>
			<if test="tel!=null">tel = #{tel},</if>
			<if test="status!=null">status =#{status},</if>
			<if test="monthlySalary!=null">monthly_salary =#{monthlySalary},</if>
			<if test="department!=null">
				<if test="department.id!=null">department_id =#{department.id}</if>
			</if>
		</set>
		where id = #{id}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select id, username, password, name, sex, birth, edu, tel,
		status,
		monthly_salary,
		department_id
		from employee
		where id =
		#{id}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select id, username, password,
		name, sex, birth, edu, tel, status,
		monthly_salary,
		department_id
		from
		employee
	</select>
</mapper>