<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfut.mapper.OvertimeMapper">
  <resultMap id="BaseResultMap" type="com.hfut.bean.Overtime">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="pay" jdbcType="DOUBLE" property="pay" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <association column="basic_salary_id" property="basicSalary"
			javaType="com.hfut.bean.BasicSalary" select="com.hfut.mapper.BasicSalaryMapper.selectByPrimaryKey" />
  </resultMap>
  <delete id="delete" parameterType="com.hfut.bean.Overtime">
    delete from overtime
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.hfut.bean.Overtime">
    insert into overtime (date, pay,remarks,basic_salary_id)
    values (#{date}, #{pay}, 
      #{remarks},#{basicSalary.id})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hfut.bean.Overtime">
    update overtime
    <set>
    <if test="date!=null">date = #{date},</if>
    <if test="pay!=null">pay = #{pay},</if>
    <if test="remarks!=null">remarks = #{remarks},</if>
    <if test="basicSalary!=null">
    <if test="basicSalary.id!=null">basic_salary_id = #{basicSalary.id}</if>
    </if>
    </set>
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, date, pay, remarks,basic_salary_id
    from overtime
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, date, pay, remarks,basic_salary_id
    from overtime
  </select>
</mapper>